:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3 {
  font-family: 'Abril Fatface', cursive;
  font-weight: 400;
}

p,
a,
h4,
h5,
span {
  font-family: 'Open Sans', sans-serif;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.sombra-bottom-big {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 41rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #2F3B5D 90%, #2F3B5D 100%);
}

.sombra-bottom-medium {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 14rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #2F3B5D 90%, #2F3B5D 100%);
}

.sombra-bottom-small {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #2F3B5D 90%, #2F3B5D 100%);
}

.sombra-top-big {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 41rem;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, black 90%, black 100%);
}

.sombra-top-medium {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 14rem;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, black 90%, black 100%);
}

.sombra-top-medium {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 14rem;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, black 90%, black 100%);
}

.container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

.container-md {
  position: relative;
  max-width: 1350px;
  margin: 0 auto;
}

.container-lg {
  position: relative;
  max-width: 1800px;
  margin: 0 auto;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

section,
main,
aside,
footer,
header {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

#app {
  padding: 0;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}